@import "const.less";
@import "const.less";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: @font;
  background-color: @main-back;
  color: @main-text;
  margin: 0;
  padding: 0;
  line-height: 1.45;
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: 80px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
}

p {
  margin: 0;
  font-size: @font-main-text;
  line-height: 26px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container-min {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;

}
.container-middle {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;
}

.container-detail {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;

}

main {
padding-top: 64px;
  padding-bottom: 128px;
  background-color: white;
}

.hidden {
  display: none !important;
}

.active {
  display: block !important;
}