@import "const";

//Шапка и логотип
header {
  display: flex;
  justify-content: space-between;
  height: 80px;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 90px;
      height: 50px;
    }
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      gap: 30px;

      li {
        font-weight: 600;
        color: @main-text;
      }
    }
  }
}

//Баннер
.main-banner {
  display: flex;
  justify-content: center;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.806), rgba(0, 0, 0, 0.7)), url('../img/main-banner.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  .banner-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 620px;

    .logo {
      width: 280px;
      height: 156px;
      margin-bottom: 55px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      text-align: center;
      margin-bottom: 55px;
    }
  }
}

//О конкурсе
.about {
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 830px;

  .img-about {
    img {
      height: 830px;
      width: 740px;
    }
  }

  .about-info {
    display: flex;
    flex-direction: column;

    .logo {
      margin-top: 40px;
      margin-bottom: 30px;
      width: 200px;
      height: 110px;

      img {
        width: 200px;
        height: 110px;
      }
    }

    h2 {
      margin-bottom: 30px;
    }

    p {
      max-width: 508px;
      margin-bottom: 30px;
    }

    :nth-child(5) {
      margin-bottom: 60px;
    }

    .link {
      cursor: pointer;
      margin-top: 20px;
      font-weight: 700;
      font-size: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Этапы
.stages {
  margin-bottom: 150px;

  .title-stages {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h3 {
      width: 920px;
    }

    .descriptions-stages {
      width: 560px;
      font-size: 17px;
      line-height: 1.55;
      font-weight: 400;
    }
  }

  .numbs-stages {
    display: flex;
    gap: 40px;
    position: relative;

    .item-stages {
      &:hover {
        .back {
          opacity: 1;
        }
      }

      .back {
        opacity: 0;
        position: absolute;
        top: -165px;
        margin-right: 1px;
        z-index: -1;

        img {
          position: absolute;
          left: -60px;

        }
      }

      .num {
        font-weight: 500;
        font-size: 130px;
        color: @main-accent;
      }

      .title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 50px;
        line-height: 1.55;
      }

      .description {
        color: @main-accent;
        font-weight: 700;
        line-height: 1.55;
      }

      .arrow {
        position: absolute;
        top: 60px;
        padding-left: 200px;
      }
    }
  }
}

//Жюри

.jury {
  margin-bottom: 100px;

  .title-jury {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h3 {
      width: 920px;
      font-size: 80px;
    }

    .descriptions-jury {
      width: 560px;
      font-size: 17px;
      line-height: 1.55;
      font-weight: 400;
    }
  }

  .jury-items {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    .jury-item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 170px;

      .title {
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: @main-accent;
      }

      .description {
        font-weight: 400;
      }

      img {
        -webkit-filter: grayscale(100%);
        height: 230px;
        width: 170px;

        &:hover {
          -webkit-filter: grayscale(0%);
        }
      }

    }
  }
}

//Цитата
.quote {
  margin-bottom: 150px;

  h1 {
    line-height: 1.05;
    margin-bottom: 150px;
  }

  .line {
    margin-bottom: 50px;
  }

  .quote-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .quote-name {
      font-size: 50px;
      color: @main-accent;
    }

    img {
      width: 80px;
      height: 70px;
    }
  }
}

//Галерея
.gallery {
  margin-bottom: 150px;

  .gallery-items {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

//Номинации
.nomination {
  margin-bottom: 150px;

  h2 {
    margin-bottom: 50px;
  }

  .nomination-list {

    .nomination-item {
      margin-bottom: 50px;

      .nomination-wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .title {
          font-size: 50px;
          width: 400px;
          line-height: 1.1;
        }

        .description {
          font-size: 17px;
          width: 650px;
        }
      }
    }
  }
}

//Призы
.prizes {
  margin-bottom: 50px;

  .title-prizes {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;

    h3 {
      width: 920px;
      font-size: 80px;
    }

    .descriptions-prizes {
      width: 560px;
      font-size: 24px;
      line-height: 1.55;
      font-weight: 400;
    }
  }

  .prizes-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .numb {
      font-size: 70px;
      line-height: 47px;
      font-weight: 700;

      span {
        font-size: 30px;
      }
    }

    .title {
      font-size: 22px;
      width: 420px;
    }

    .price-wrapper {
      .price {
        font-size: 70px;
        color: @main-accent;
        line-height: 80px;
      }

      .description {
        margin-bottom: 50px;
        font-size: 20px;
      }
    }
  }
}

//Организаторы

.organizers {
  margin-bottom: 150px;

  .title-organizers {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;


    h1 {
      width: 920px;
      font-size: 80px;
      line-height: 1.1;
    }

    .descriptions-organizers {
      width: 560px;
      font-size: 17px;
      line-height: 1.55;
      font-weight: 400;
    }
  }

  .organizers-items {
    display: flex;
    justify-content: space-between;
  }
}

//Нижний баннер
.footer-banner {
  margin-bottom: 150px;

  .footer-banner-img {
    background-image: url("../img/bottom-banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
  }
}

//футер
footer {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 130px;
    }

    img {
      width: 200px;
      height: 115px;
    }
  }

  .footer-email {
    font-weight: 700;
    color: @main-accent;
    font-size: 22px;
    margin-bottom: 50px;
  }

  .contacts-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    .contacts-item {
      width: 290px;

      .line {
        width: 80px;
        margin-bottom: 10px;
        background-color: @main-text;
      }
    }
  }

  .tur-magadan {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      font-weight: 700;
    }
  }
}

//Детальная страница
//подложка
.wrapper {
  margin-top: 64px;
  margin-bottom: 128px;
  background-color: white;
  .back{
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #919095;
    margin-bottom: 36px;
    img{
      width: 12px;
      height: 36px
    }
  }
  .more-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1162px;
    .previous{
      display: flex;
      gap: 16px;
      align-items: center;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.5px;
      color: #919095;
      margin-bottom: 36px;
      img{
        width: 12px;
        height: 36px
      }
    }
    .next{
      display: flex;
      gap: 16px;
      align-items: center;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.5px;
      color: #919095;
      margin-bottom: 36px;
      img{
        transform: rotate(180deg);
        width: 12px;
        height: 36px
      }
    }
  }
}

.about-nominee {
  display: flex;
  gap: 32px;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #5F5E63;
  margin-bottom: 48px;
  width: 1162px;
  .photographer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn{
      height: 30px;
    }
    .photographer {
      display: flex;
      gap: 32px;
      align-items: center;

      .photo-nominee {
        img {
          width: 100px;
          height: 100px;
        }
      }

      .name-nominee {
        color: #19181D;
        font-weight: 700;
        font-size: 50px;
        line-height: 55px;
      }

      .social-nominee {
        img {
          width: 44px;
          height: 44px;
        }
      }
    }
  }


  .wrapper-details {
    display: flex;
    gap: 32px;

    .profession {
      display: flex;
      gap: 6px;

      .description {
        color: #19181d;
      }
    }
      .genre {
        display: flex;
        gap: 6px;

        .description {
          color: #19181d;
        }
      }
    }
    .more-info{
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 766px;
      .path{
        display: flex;
        flex-direction: column;
        gap:24px;
        .title{
          font-weight: 700;
          font-size: 20px;
          line-height: 31px;
          letter-spacing: 0.5px;
          color: #19181D;
        }
      }
      .event{
        display: flex;
        flex-direction: column;
        gap:24px;
        .title{
          font-weight: 700;
          font-size: 20px;
          line-height: 31px;
          letter-spacing: 0.5px;
          color: #19181D;
        }
      }
    }

  }
//Галлерея
.gallery-nominee{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
  width: 1162px;
  .photo-item{
    img{
      max-width: 1162px;
    }
  }
}

