@import "const";

.burger-wrap {
  display: none;
  position: fixed;
  width: 120vw;
  height: 120vh;
  background-color: @main-back;
  overflow: hidden;
  z-index: 25;
  top: 80px;
  .ul-burger {
    flex-direction: column;
    gap: 40px;
    top:50px;
    font-size: 28px;
  }
}

//Шапка и логотип
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  flex-wrap: wrap;
  .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    img {
      width: 90px;
      height: 50px;
    }
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      gap: 30px;

      li {
        font-weight: 600;
        color: @main-text;
      }

    }
    .burger-nav {
      display: none;



    }
  }
}

//Баннер
.main-banner {
  display: flex;
  justify-content: center;
  height: 92vh;
  background: linear-gradient(rgba(0, 0, 0, 0.806), rgba(0, 0, 0, 0.7)), url('../img/main-banner.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  .banner-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 620px;

    .logo {
      width: 280px;
      height: 156px;
      margin-bottom: 55px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      text-align: center;
      margin-bottom: 55px;
    }
  }
}

//О конкурсе
.about {
  display: flex;
  justify-content: center;
  gap: 40px;


  .img-about {
    img {
      max-width: 740px;
    }
  }

  .about-info {
    display: flex;
    flex-direction: column;

    .logo {
      margin-top: 40px;
      margin-bottom: 30px;
      width: 200px;
      height: 110px;

      img {
        width: 200px;
        height: 110px;
      }
    }

    h2 {
      margin-bottom: 30px;
    }

    p {

      margin-bottom: 30px;
    }

    :nth-child(5) {
      margin-bottom: 60px;
    }

    .link {
      cursor: pointer;
      margin-top: 20px;
      font-weight: 700;
      font-size: 24px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Этапы
.stages {
  margin-bottom: 150px;

  .title-stages {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;

    h3 {

    }

    .descriptions-stages {

      font-size: 17px;
      line-height: 1.55;
      font-weight: 400;
    }
  }

  .numbs-stages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    position: relative;


    .item-stages {
      &:hover {
        .back {
          opacity: 1;
        }
      }

      .back {
        opacity: 0;
        position: absolute;
        top: -165px;
        margin-right: 1px;
        z-index: -1;

        img {
          position: absolute;
          left: -60px;

        }
      }

      .num {
        font-weight: 500;
        font-size: 130px;
        color: @main-accent;
      }

      .title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 50px;
        line-height: 1.55;
      }

      .description {
        color: @main-accent;
        font-weight: 700;
        line-height: 1.55;
      }

      .arrow {
        position: absolute;
        top: 60px;
        padding-left: 200px;
      }
    }
  }
}

//Жюри

.jury {
  margin-bottom: 100px;

  .title-jury {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h3 {
      font-size: 80px;
    }

    .descriptions-jury {
      font-size: 17px;
      line-height: 1.55;
      font-weight: 400;
    }
  }

  .jury-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 32px;

    .jury-item {
      display: flex;
      flex-direction: column;
      gap: 30px;


      .title {
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: @main-accent;
        max-width: 120px;
      }

      .description {
        font-weight: 400;

      }

      img {
        -webkit-filter: grayscale(100%);


        &:hover {
          -webkit-filter: grayscale(0%);
        }
      }

    }
  }
}

//Цитата
.quote {
  margin-bottom: 150px;

  h1 {
    line-height: 1.05;
    margin-bottom: 150px;
  }

  .line {
    margin-bottom: 50px;
  }

  .quote-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .quote-name {
      font-size: 50px;
      color: @main-accent;
    }

    img {
      width: 80px;
      height: 70px;
    }
  }
}

//Галерея
.gallery {
  margin-bottom: 150px;

  .gallery-items {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

//Номинации
.nomination {
  margin-bottom: 150px;

  h2 {
    margin-bottom: 50px;
  }

  .nomination-list {

    .nomination-item {
      margin-bottom: 50px;

      .nomination-wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        .title {
          font-size: 50px;
          line-height: 1.1;
        }

        .description {
          font-size: 17px;
          max-width: 400px;
        }
      }
    }
  }
}

//Призы
.prizes {
  margin-bottom: 50px;

  .title-prizes {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;

    h3 {

      font-size: 80px;
    }

    .descriptions-prizes {

      font-size: 24px;
      line-height: 1.55;
      font-weight: 400;
    }
  }

  .prizes-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .numb {
      font-size: 70px;
      line-height: 47px;
      font-weight: 700;

      span {
        font-size: 30px;
      }
    }

    .title {
      font-size: 22px;
      max-width: 400px;
    }

    .price-wrapper {
      .price {
        font-size: 70px;
        color: @main-accent;
        line-height: 80px;
      }

      .description {
        margin-bottom: 50px;
        font-size: 20px;
      }
    }
  }
}

//Организаторы

.organizers {
  margin-bottom: 150px;

  .title-organizers {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;


    h1 {

      font-size: 80px;
      line-height: 1.1;
    }

    .descriptions-organizers {

      font-size: 17px;
      line-height: 1.55;
      font-weight: 400;
    }
  }

  .organizers-items {
    display: flex;
    justify-content: space-between;

  }
}

//Нижний баннер
.footer-banner {
  margin-bottom: 150px;

  .footer-banner-img {
    background-image: url("../img/bottom-banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
  }
}

//футер
footer {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h1 {
      font-size: 130px;
    }

    img {
      width: 200px;
      height: 115px;
    }
  }

  .footer-email {
    font-weight: 700;
    color: @main-accent;
    font-size: 22px;
    margin-bottom: 50px;
  }

  .contacts-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;
    gap: 50px;
    .contacts-item {
      width: 290px;

      .line {
        width: 80px;
        margin-bottom: 10px;
        background-color: @main-text;
      }
    }
  }

  .tur-magadan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .title {
      font-weight: 700;
    }
  }
}




